@charset "UTF-8";

#S0010title {
	position: relative;
	left: 70px;
	position: relative;
	top: 20px;
}

#S0011title {
	position: relative;
	left: 150px;
	position: relative;
	top: 20px;
}

#S0020title {
	position: relative;
	left: 150px;
	position: relative;
	top: 20px;
}