@charset "UTF-8";

.mainButton {
	position: relative;
	top: 60px;
	left: 600px;
}

.salesFiledLength {
	width: 400px;
}

.salesInputIntText {
	text-align: right
}

#title {
	position: relative;
	top: 60px;
	padding-left: 330px;
}

.tablePosition {
	position: relative;
	top: 60px;
	left: 300px;
	border-collapse: collapse;
}
.searchResultTablePosition {
	position: relative;
	top: 60px;
	left: 150px;
	border-collapse: collapse;
}

td, th {
	padding: 10px;
}

.textAlign {
	text-align: right;
}

.textBoxAlignRemark {
	vertical-align: top;
}